body {
  margin: 0;
  font-family: 'Arial', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}